/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  font-family: var(--font-accent);
  width: var(--header-width);
  background-color: #FFFFFF;
  padding: 128px 0;
  margin: 100px auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Themes-mainColor, #000000)
}

.header h1{
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header p{
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.card{
  background-color: #FFFFFF;
  margin-bottom: 50px;
}

.card h3{
  color: var(--Themes-mainColor, #000000);
  padding: 10px 3px;
  border: 2px solid var(--Themes-mainColor, #000000);
  font-weight: 700;
  font-size: 18px;
}

.card h3 br{
  display: none;
}

.card-img{
  position: relative;
  background-image: url('../images/car1.png');
  width: var(--header-width);
  border-bottom: 2px solid var(--Themes-mainColor, #000000);
  border-left: 2px solid var(--Themes-mainColor, #000000);
  border-right: 2px solid var(--Themes-mainColor, #000000);
  height: 700px;
  background-position: right;
  background-size: cover;
}

.card-img span{
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  @supports (-webkit-text-stroke: 1px black) {
    -webkit-text-stroke: 0.3px var(--label-stroke-color);
    text-shadow: none;
  }

  /* Фоллбэк для браузеров без text-stroke */
  @supports not (-webkit-text-stroke: 1px black) {
    text-shadow: 
      1px 1px 0 var(--label-stroke-color),
     -1px -1px 0 var(--label-stroke-color),
      1px -1px 0 var(--label-stroke-color),
     -1px 1px 0 var(--label-stroke-color);
  }
}

.card-text{
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--Themes-mainColor, #000000);
  border-left: 2px solid var(--Themes-mainColor, #000000);
  border-right: 2px solid var(--Themes-mainColor, #000000);
  font-size: 18px;
}

.main-text{
  margin-bottom: 27px;
}

.sub-text{
  margin-bottom: 25px;
}

.button_like{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  font-family: var(--font-accent);
  font-size: 14px;
  background-color: #FFFFFF;
  border: none;
}

.like-text{
  width: 130px;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 12.5px;
  border: 2px solid var(--Themes-mainColor, #000000);
}

.memory-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6); 
}

.memory-dialog[open] {
  max-width: 353px;
  display: flex;     
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  font-size: 14px;
  padding: 30px;
  border: 2px solid var(--Themes-mainColor, #000000);
  background: #ffffff;
}

.dialog-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dialog-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.dialog-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  border: 2px solid var(--Themes-mainColor, #000000);
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 12.5px;
}