/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  font-family: var(--font-accent);
  width: var(--header-width);
  background-color: #FFFFFF;
  padding: 128px 0;
  margin: 100px auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Themes-mainColor, #000000)
}
.header h1{
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
}
.header p{
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}